.img1 {
  width: 30px;
  padding: 10px;
}
.span1,
.span2,
.span3 {
  font-weight: 600;
  padding-left: 3px;
  padding-right: 2px;
  color: black;
}
.manImg {
  padding: 20px;
  width: 80px;
}
.span4 {
  color: #4c1282;
}
.donateBtn {
  background-color: #720cd4 !important;
  margin: -20px 0 0 30px !important;
  padding: 5px 20px !important;
  font-weight: 500 !important;
  font-size: small !important;
}
.socialIcon {
  width: 20px;
  padding: 0;
  margin: 10px 0 20px 20px;
}
.readMore {
  color: #720cd4;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #720cd4;
}
.bibliograpy {
  color: #720cd4;
  font-weight: 600;
}
.hrLine {
  border: 1px solid #f2e4ff;
  margin: 0px 0 20px 0;
}
.reactIcons {
  width: 50px;
  margin-right: 10px;
}
.heart {
  width: 30px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .donateBtn {
    margin: -20px 0 0 10px !important;
  }
  .span2 {
    font-size: smaller;
    padding-right: 40%;
  }
  .span3 {
    font-size: smaller;
  }
}
@media (max-width: 1050px) {
  .span2 {
    padding-right: 30%;
  }
  .funeralCardText {
    font-size: 0.85rem !important;
  }
  .socialIcon {
    width: 18px;
  }
  .bibliograpy {
    font-size: 0.85rem !important;
  }
  .reactIcons {
    width: 40px;
  }
  .heart {
    width: 20px;
  }
}
@media (max-width: 1000px) {
  .span2 {
    padding-right: 20%;
  }
}
@media (max-width: 920px) {
  .span2 {
    padding-right: 10%;
  }
}
@media (max-width: 900px) {
  .span2 {
    padding-right: 5px;
  }
  .reactIcons {
    width: 40px;
  }
  .heart {
    width: 25px;
  }
}
@media (max-width: 700px) {
  .funeralCardName {
    font-size: medium !important;
  }
  .donateBtn {
    margin: 20px 0 0 0 !important;
  }
  .cardTitleBar {
    text-align: left;
    justify-content: center;
    align-items: center;
    display: grid;
  }
  .moreVertIcon {
    margin: -25px 0 20px 90px;
  }
}
