.img1 {
  width: 30px;
  padding: 10px;
}
.span1 {
  font-weight: 600;
  padding-left: 3px;
}
.manImg {
  padding: 20px;
  width: 80px;
}
.span2 {
  color: #4c1282;
}
.donateBtn {
  background-color: #720cd4 !important;
  margin: -20px 0 0 30px !important;
  padding: 5px 20px !important;
  font-weight: 500 !important;
  font-size: small !important;
}
