.span1 {
  color: black;
  padding-left: 8px;
}
.appbar {
  background-color: white !important;
}

@media (max-width: 1250px) {
  .span1 {
    padding-left: 3px;
  }
}
@media (max-width: 700px) {
  .navbarTitle {
    font-size: 1.8rem !important;
  }
  .navbarTitleDec {
    font-size: 0.9rem !important;
  }
  .navbarSubTitle {
    font-size: 1.2rem !important;
  }
  .listBtn,
  .newsBtn {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 600px) {
  .navbarTitleContainer,
  .navbarbuttonContainer {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 5px 0;
  }
  .navbarSubTitle {
    display: none;
  }
  .searchBtn {
    width: 100% !important;
  }
}
