.span1 {
  color: black;
  padding-left: 8px;
}
.appbar {
  background-color: white !important;
}
.avatar {
  padding-left: 3%;
}

@media (max-width: 1250px) {
  .span1 {
    padding-left: 3px;
  }
  .avatar {
    padding-left: 1%;
  }
}
