.span1 {
  color: black;
  padding-left: 8px;
}
.appbar {
  background-color: white !important;
}
.avatar {
  margin-left: 10px;
}
.testclass {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 1250px) {
  .span1 {
    padding-left: 3px;
  }
}
