img {
  width: 30%;
  height: 60%;
  padding: 5%;
}
.cardDesc {
  padding-right: 30px;
  font-weight: 500;
  text-align: left;
}
a {
  line-height: 3;
  text-decoration: none;
  color: #5a189a;
  font-weight: 500;
}
.cardBtn {
  background-color: #f2e4ff !important;
  color: #5a189a !important;
  align-self: center !important;
  width: 85% !important;
  font-size: small !important;
}
