.cardImg {
  width: 90px;
  height: 85px;
  padding: 5%;
}
.cardDesc {
  padding-right: 30px;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rightbarLink {
  line-height: 3;
  text-decoration: none;
  color: #5a189a;
  font-weight: 500;
}
.cardBtn {
  background-color: #f2e4ff !important;
  color: #5a189a !important;
  width: 85% !important;
  font-size: small !important;
}
.birksLogo {
  padding: 160px 0 0 20px;
  width: 60px;
  height: 60px;
}
.callNowBtn {
  background-color: white !important;
  color: #2708a6 !important;
  font-weight: 900 !important;
  width: 80% !important;
  font-size: small !important;
  margin: 5px 25px !important;
}

@media (max-width: 1200px) {
  .cardDesc {
    padding-right: 5px;
  }
  .birksLogo {
    padding: 80px 0 0 20px;
  }
  .birksTitle {
    font-size: 2rem !important;
  }
}
@media (max-width: 1000px) {
  .birksLogo {
    padding: 40px 0 0 20px;
  }
  .birksTitle {
    font-size: 1.5rem !important;
  }
  .cardImg {
    width: 70px;
    height: 65px;
  }
  .cardDesc {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: small !important;
  }
  .rightbarLink {
    line-height: normal;
  }
}
@media (max-width: 900px) {
  .cardImg {
    width: 90px;
    height: 85px;
    padding: 5%;
  }
  .cardDesc {
    padding-right: 10px;
  }
  .rightbarLink {
    line-height: 3;
  }
  .birksLogo {
    padding: 100px 0 0 20px;
  }
}
@media (max-width: 700px) {
  .cardDesc {
    font-size: 0.7rem !important;
  }
  .rightbarLink {
    line-height: 2;
  }
}
@media (max-width: 600px) {
  .cardBox {
    margin: 0 !important;
  }
  .cardImg {
    width: 70px;
    height: 65px;
  }
  .cardDesc {
    padding-right: 5px;
  }
  .rightbarLink {
    line-height: 2;
  }
  .birksTitle {
    font-size: 1.2rem !important;
  }
  .birksDesc {
    font-size: 0.8rem !important;
  }
}
