.sidaLogo {
  width: 150px;
  padding: 20px;
  margin: 0 0 10px 15px;
}
.callNowBtn {
  background-color: white !important;
  color: #2708a6 !important;
  font-weight: 900 !important;
  width: 60% !important;
  font-size: small !important;
  margin: 40px 10px 0 150px !important;
  padding: 10px !important;
}

/* media quiries */
@media (max-width: 1200px) {
  .sidaPostHeading {
    padding-right: 40px !important;
  }
  .callNowBtn {
    width: 100% !important;
    margin: 40px 10px 40px 40px !important;
  }
}
@media (max-width: 1050px) {
  .callNowBtn {
    margin: 40px 10px 40px 10px !important;
  }
}
@media (max-width: 700px) {
  .sidaLogo {
    width: 120px;
    height: 50px;
    margin: 0 0 10px 10px;
  }
  .callNowBtn {
    margin: 30px 10px 40px 10px !important;
  }
}
