.sidebardiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2%;
  margin-right: 5%;
}
.sidebardiv:hover {
  background-color: #f2e4ff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.icon {
  color: #5a189a;
}
.sidebarTitle {
  line-height: 0;
  padding: 0 5%;
  color: black;
  font-size: medium;
  font-weight: 500;
}

/* Media quiries */
@media (max-width: 1100px) {
  .sidebarTitle {
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
